# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER= 2349153241354
THUMB_IMAGE = "https://telegra.ph/file/073a656d7cd338fa06e33.jpg"
port = 5000
email = "hotarouorekix123@gmail.com"
AUTO_BIO=true
global_url = "instagram.com"
OWNER_NAME = "oreki-sama"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 234
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = true
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= false
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= ᴏʀᴇᴋɪ_404
WORKTYPE = private
PACK_INFO = "404 SERIES"
ANTILINK_VALUES = "chat.whatsapp.com"
 
